#contact-right {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  padding: 3% 0;
  color: #fff;
}

#contact-inputs {
  margin-top: 2%;
  display: flex;
  gap: 45px;
}

#contact-us-nav {
  margin-top: -2.5%;
  padding-top: 3%;
}

#contact-inputs input {
  width: 216px;
  margin-top: 30px;
}

.form-middle textarea {
  margin-top: 3%;
}

#white-borders h1 {
  font-size: 5rem;
}

.contact-us-page,
#contact-us-nav {
  background-color: #000;
}

.from-bottom {
  text-align: center;
}

#white-bordern {
  border: 1px solid;
  padding: 21px 60px;
}

@media screen and (max-width: 768px) {
  .footer-right-header h1 {
    font-family: "Saira Condensed";
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -1px;
    word-spacing: 0px;
    margin-top: 20px;
  }

  #contact-right {
    margin-top: 14%;
  }

  #white-bordern {
    border: unset;
    padding: 10px 25px;
  }

  #contact-inputs input {
    width: 100%;
  }

  #contact-inputs {
    gap: 1px;
  }

  .form-middle textarea {
    height: 200px;
  }

  #contact-us-nav {
    margin-top: -9.5%;
  }
}
