#contact-right {
  display: flex;
  justify-content: center;
  margin-top: 7%;
  padding: 3% 0;
  color: #fff;
}

#contact-inputs {
  margin-top: 2%;
  display: flex;
  gap: 45px;
}

#contact-us-nav {
  margin-top: -2.5%;
  padding-top: 3%;
}

#contact-inputs input {
  width: 216px;
  margin-top: 30px;
}

.form-middle textarea {
  margin-top: 3%;
}

#white-borders h1 {
  font-size: 5rem;
}

#product-p:hover + #product-li-table {
  opacity: 1;
  visibility: visible;
}

.navbar #product-li-table {
  flex-direction: column;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  top: 58%;
  left: 56%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  list-style: none;
  transition: opacity 0.5s ease;
}

.navbar #product-li-table li {
  margin: 5px 0;
}

.navbar #product-li-table li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 0 !important;
}

.navbar #product-li-table li a:hover {
  background-color: #0051a4;
  color: #fff;
  transform: translateX(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

body {
  background-color: #000;
}

.contact-us-page,
#contact-us-nav {
  background-color: #000;
}

body {
  background-color: #000;
}

.from-bottom {
  text-align: center;
}

#white-bordern {
  border: 1px solid;
  padding: 20px 60px;
}

@media screen and (max-width: 768px) {
  .footer-right-header h1 {
    font-family: "Saira Condensed";
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -1px;
    word-spacing: unset;
    margin-top: 20px;
  }

  #contact-right {
    margin-top: 14%;
  }

  #white-bordern {
    border: unset;
    padding: 10px 25px;
  }

  #contact-inputs input {
    width: 100%;
  }

  #contact-inputs {
    gap: 1px;
  }

  .form-middle textarea {
    height: 200px;
  }

  #contact-us-nav {
    margin-top: -9.5%;
  }

  .logo img {
    width: 195px;
    height: auto;
  }
}
