.background-color {
  opacity: 0.8;
}

.corug-header-text h1 {
  line-height: 1;
  margin-top: 11%;
  letter-spacing: -2px;
  font-size: 6rem;
  margin-left: 10%;
  color: #fff;
  font-family: "Saira Condensed";
}

.corug-header-text h4 {
  position: absolute;
  left: 10%;
  font-size: 30px;
  color: #fff;
  margin-top: -30px;
  color: #f96120;
}

.background-img img {
  height: 700px;
}

#orange-border path {
  border: 1px solid #f96120;
  fill: none;
  stroke: #ff8731;
}

#orange-border {
  width: 600px;
  position: absolute;
  bottom: -59%;
}

.section-two-top-boxes-one-show img {
  width: 100%;
  height: 450px;
  object-fit: cover;
}

.section-two-df {
  padding: 3% 8%;
}

#section-two-top-boxes-two {
  margin-top: 3%;
}

.section-two-top-boxes {
  gap: 3%;
}

#white-border {
  bottom: -59%;
  position: absolute;
  left: 35%;
}

#white-border path {
  fill: #fff;
}

.inspiring-box {
  display: flex;
  gap: 6%;
  margin-top: 5%;
}

.inspiring-history {
  background-color: #fff;
  padding: 5% 10% 15% 10%;
}

.inspiring-history-header h1 {
  text-align: center;
  font-size: 4.5rem;
  font-family: "Saira Condensed";
}

.inspiring-history-header h1 span {
  font-family: "Saira Condensed";
  color: #ff8731;
}

.inspiring-box-right {
  max-width: 48%;
}

.inspiring-box-right p {
  margin-top: 20px;
  font-size: 19px;
}

.inspiring-box-right h1 {
  margin-top: 20px;
}

#inspiring-box-second {
  flex-direction: row-reverse;
  margin-top: 6%;
  align-items: center;
}

#inspiring-box-third {
  margin-top: 8%;
  align-items: center;
}

#inspiring-box-second .inspiring-box-right {
  max-width: 100%;
}

#inspiring-box-third .inspiring-box-right {
  max-width: 90%;
}

.inspiring-box-left {
  position: relative;
}

#orange-straight {
  position: absolute;
  left: -50%;
  top: 40%;
}

.inspiring-box-left img {
  z-index: 1;
  position: relative;
}

#orange-border-two {
  position: absolute;
  right: 55%;
  top: -38%;
}

#orange-border-down {
  position: absolute;
  top: -35%;
  left: 53%;
}

#orange-border-four {
  position: absolute;
  top: 70%;
  left: 38%;
}

.inspiring-box-right ul li {
  list-style: disc;
  margin-left: 20px;
  margin-top: 5px;
  font-size: 17px;
}

#mission ul li {
  font-size: 21px;
}

.inspiring-box-right ul li:first-child {
  margin-top: 10px;
}

.about-us {
  padding: 5% 12%;
  background-color: #fff;
}

.about-us h1 {
  font-size: 4.5rem;
  font-family: "Saira Condensed";
  text-align: center;
}

.about-us p {
  font-size: 20px;
  margin-top: 20px;
  line-height: 1.4;
}

#for-mobile {
  display: none;
}

.map-section {
  background-color: #fff;
}

img.leaflet-marker-icon.leaflet-zoom-animated.leaflet-interactive {
  width: 25px;
}

.leaflet-popup-content {
  display: flex;
  align-items: center;
  gap: 20px;
}

.map-section h1 {
  text-align: center;
  padding-bottom: 10px;
  font-size: 5rem;
  font-family: "Saira Condensed";
}

#orange {
  font-family: "Saira Condensed";
}

@media screen and (max-width: 768px) {
  .corug-header-text h1 {
    font-size: 3.3rem;
    margin-left: 6%;
    margin-top: 45%;
  }

  #for-desk {
    display: none;
  }

  #for-mobile {
    display: block;
  }

  #for-mobile summary:first-child {
    border: 2px solid #f96120;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    padding: 7px 12px 7px 20px;
  }

  #for-mobile summary {
    padding: 7px 12px 7px 10px;
    font-size: 20px;
    margin-top: 15px;
  }

  .background-img img {
    height: 610px;
  }

  #white-border {
    margin-top: 64%;
    margin-left: 39%;
    position: unset;
  }

  #orange-border {
    bottom: unset;
    margin-top: 57%;
    width: 145px;
  }

  .corug-header-text h4 {
    font-size: 19px;
    left: 7%;
  }

  .navbar {
    padding: 0px 19px;
    margin-top: -7px;
  }

  #check:checked ~ ul {
    right: 0;
    z-index: 1;
  }
  .section-two-top-boxes-one-show img {
    height: 260px;
  }

  .section-two-top-boxes-one,
  .section-two-top-boxes-two {
    margin-top: 5%;
  }

  #pre,
  .bim {
    bottom: 8%;
    font-size: 19px;
  }

  .bim::before {
    content: "";
    width: 39px;
    height: 1px;
    position: absolute;
    top: -12px;
  }

  .inspiring-history-header h1 {
    font-size: 2rem;
    text-wrap: nowrap;
  }

  .inspiring-box {
    flex-direction: column;
  }

  .inspiring-box-left img {
    width: 307px;
    height: auto;
  }

  .inspiring-box-right {
    max-width: 100%;
  }

  #orange-border-two {
    position: absolute;
  }

  #inspiring-box-second {
    flex-direction: column;
    margin-top: 20%;
  }

  .inspiring-box-right p {
    margin-top: 20px;
    font-size: 15px;
  }

  #inspiring-box-third .inspiring-box-right {
    max-width: 100%;
  }

  .inspiring-box-right h1 {
    font-size: 23px;
  }

  #orange-border-two {
    display: none;
  }

  #orange-border-four {
    position: absolute;
    top: -253%;
    left: -10%;
    width: 370px;
    height: 203px;
  }

  .inspiring-history {
    padding-top: 20%;
  }

  #inspiring-box-third {
    margin-top: 30%;
  }

  #orange-border-down {
    position: absolute;
    top: 39%;
    left: 53%;
    width: 175px;
    height: 200px;
  }

  .about-us p {
    font-size: 15px;
    margin-top: 20px;
    line-height: 1.4;
  }

  .about-us h1 {
    font-size: 2.5rem;
  }

  .map-section h1 {
    font-size: 2rem;
  }
}

@media screen and (min-width: 550px) and (max-width: 1200px) {
  #orange-border-four {
    display: none;
  }

  #inspiring-box-third,
  #inspiring-box-second,
  #inspiring-box-one {
    align-items: last baseline;
  }
}
