body {
  overflow-x: hidden;
  animation: transitionIn 0.5s;
}

.transformer-heading h1 {
  font-size: 4.3rem;
  line-height: 1.1;
  margin-top: 12%;
  word-spacing: 7px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5%;
  font-family: "Saira Condensed";
}

.transformer-heading p {
  font-size: 22px;
  max-width: 45%;
  margin-top: 2%;
  color: #fff;
  margin-left: 5%;
}

#dropdown-bottm {
  position: relative;
  display: none;
}

#dropdown-bottm li {
  color: #000;
}

.dropdown:hover #dropdown-bottm {
  display: block;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  position: absolute;
  margin-top: -2px;
  width: 120px;
  margin-left: 20px;
}

#dropdown-bottm li {
  font-size: 18px;
  padding: 2px 8px;
  margin-top: 4px;
  text-align: center;
  /* color: orangered; */
}

#dropdown-bottm li:hover {
  color: orangered;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#product-background-color {
  opacity: 0.7;
}

#product-banner-heading {
  font-size: 4.3rem;
  line-height: 1.1;
  margin-top: 12%;
  word-spacing: 7px;
}
#trans-header #product-banner-text {
  font-size: 22px;
  max-width: 45%;
  margin-top: 2%;
}

#product-banner {
  height: 715px;
}

#product-svg {
  margin-top: -2%;
  right: 0;
  width: 650px;
  position: absolute;
  z-index: 1;
}

#product-svg path {
  fill: #fff;
}

.product-section-one-first-content-right img,
.product-section-one-second-left img {
  width: 500px;
  height: auto;
}

.product-section-one-first-header h1 {
  font-family: "Saira Condensed";
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -3px;
}

.product-section-one {
  padding: 5% 10%;
}

.product-section-one-first-content {
  display: flex;
  gap: 5%;
  align-items: center;
}

.product-section-one-first-content-left {
  max-width: 60%;
}

.product-section-one-first-content-left p {
  font-size: 17px;
  line-height: 1.5;
  margin-top: 3%;
}

.product-section-one-first-content {
  margin-top: 7%;
}

.product-section-one-second {
  display: flex;
  gap: 5%;
  margin-top: 6%;
}

.product-section-one-second-right h1 {
  margin-top: 6%;
}

.product-section-one-second-right p {
  margin-top: 20px;
  font-size: 17px;
}

.product-section-one-second-right li {
  margin-top: 15px;
  font-size: 18px;
  position: relative;
}

.process-steps h1 {
  font-family: "Saira Condensed";
  font-size: 5rem;
  line-height: 1.1;
  letter-spacing: -3px;
  text-align: center;
  margin-top: 5%;
}

#surface li {
  margin-top: 3%;
  position: relative;
  text-transform: capitalize;
  font-style: italic;
}

#surface li::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -15px;
  width: 2px;
  height: 2px;
  border: 1px solid #000;
  background-color: #000;
  border-radius: 50%;
}

.steps-container {
  position: relative;
  width: 100%;
  height: 100vh;
  margin-top: 5%;
}

.process-image {
  position: absolute;
  top: 0;
}

.process-steps h2 {
  font-size: 15px;
}

.process-color {
  opacity: 0.2;
  width: 100vw;
  height: 100vh;
  /* background-color: #111111; */
  background-image: linear-gradient(30deg, #80c1ff 0%, #8bc5ff 100%);
  position: absolute;
  top: 70px;
}

.process-image img {
  width: 100vw;
  height: 100vh;
  margin-top: 5%;
  opacity: 0.2;
}

.process-header h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 12%;
  margin-bottom: 5%;
}

#first h2 {
  margin-top: 10px;
}

#first {
  position: absolute;
  left: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85px;
  height: 85px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

@keyframes first-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.steps-first {
  animation: first-fade 3s;
}

#first:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

#second {
  position: absolute;
  margin-top: 3%;
  left: 12.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 3px dashed;
  border-radius: 50%;
}

#second:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-second {
  animation: second-fade 2s;
}

@keyframes second-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#third {
  position: absolute;
  margin-top: 0.5%;
  left: 18.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  border: 3px dashed;
  border-radius: 50%;
}

#third:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-third {
  animation: third-fade 3s;
}

@keyframes third-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fourth {
  padding: 8px;
  position: absolute;
  margin-top: -1%;
  left: 26.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

#fourth:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-fourth {
  animation: fourth-fade 4s;
}

@keyframes fourth-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fifth {
  padding: 8px;
  position: absolute;
  margin-top: 9.3%;
  left: 24%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 112px;
  height: 115px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

#fifth:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-fifth {
  animation: fifth-fade 5s;
}

@keyframes fifth-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#six {
  padding: 8px;
  position: absolute;
  margin-top: 11%;
  left: 35.6%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
}

#six:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-six {
  animation: six-fade 6s;
}

@keyframes six-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#seven {
  padding: 8px;
  position: absolute;
  margin-top: 8%;
  left: 45.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 118px;
  height: 112px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#seven:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-seven {
  animation: seven-fade 5s;
}

@keyframes seven-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#eight {
  padding: 8px;
  position: absolute;
  margin-top: 15%;
  left: 55.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 104px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#eight:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-eight {
  animation: eight-fade 5s;
}

@keyframes eight-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#nine {
  padding: 8px;
  position: absolute;
  margin-top: 25.5%;
  left: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#nine:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-nine {
  animation: nine-fade 5s;
}

@keyframes nine-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#ten {
  padding: 8px;
  position: absolute;
  margin-top: 35.6%;
  left: 57%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 110px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#ten:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-ten {
  animation: ten-fade 5s;
}

@keyframes ten-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#eleven {
  padding: 8px;
  position: absolute;
  margin-top: 34%;
  left: 44.7%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 121px;
  height: 120px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#eleven:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-eleven {
  animation: eleven-fade 6s;
}

@keyframes eleven-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#twelve {
  padding: 8px;
  position: absolute;
  margin-top: 33%;
  left: 32%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  height: 123px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#twelve:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-twelve {
  animation: twelve-fade 6s;
}

@keyframes twelve-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#thirteen {
  padding: 8px;
  position: absolute;
  margin-top: 36%;
  left: 21.1%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 115px;
  height: 113px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#thirteen:hover {
  transform: scale(1.1);
  transition: all 1s ease;
}

.steps-thirteen {
  animation: thirteen-fade 7s;
}

@keyframes thirteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#fourteen {
  padding: 8px;
  position: absolute;
  margin-top: 31.4%;
  left: 11%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 110px;
  height: 103px;
  border: 3px dashed;
  border-radius: 50%;
  text-align: center;
  text-transform: capitalize;
}

#fourteen:hover {
  transform: scale(1.2);
  transition: all 1s ease;
}

.steps-fourteen {
  animation: fourteen-fade 6s;
}

@keyframes fourteen-fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-section-two-right img {
  width: 500px;
  height: auto;
}

.product-section-two {
  display: flex;
  align-items: center;
  gap: 8%;
  padding: 5% 10%;
  background-color: rgb(237, 237, 237);
}

.product-section-two-left h1 {
  font-size: 5rem;
  font-family: "Saira Condensed";
  line-height: 1;
}

.product-section-two-left p {
  margin-top: 5%;
  font-size: 17px;
  line-height: 1.4;
}

.product-section-two-left {
  max-width: 45%;
}

#thirteen h2 {
  color: blue;
  font-weight: bolder;
}

#for-mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .transformer-heading h1 {
    font-size: 3.3rem;
    margin-top: 38%;
  }

  #for-desk {
    display: none;
  }

  #for-mobile {
    display: block;
  }

  #for-mobile summary:first-child {
    border: 2px solid #f96120;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;

    padding: 7px 12px 7px 20px;
  }

  #for-mobile summary {
    padding: 7px 12px 7px 10px;
    font-size: 20px;
    margin-top: 15px;
  }

  .transformer-heading p {
    font-size: 17px;
    max-width: 90%;
  }

  #product-banner {
    height: 600px;
  }

  .product-section-one-first-content {
    flex-direction: column-reverse;
  }

  .product-section-one-second {
    flex-direction: column;
  }

  .product-section-one h1 {
    font-size: 1.5rem;
    margin-top: 10%;
    letter-spacing: 0;
  }

  .product-section-one-first-header h1 {
    font-size: 2.5rem;
  }

  .product-section-one-first-content-right img,
  .product-section-one-second-left img {
    width: 100%;
    height: auto;
  }

  .product-section-one-first-content-left {
    margin-top: 10%;
    max-width: 100%;
  }

  .product-section-one-first-content-left p {
    font-size: 15px;
  }

  .product-section-one {
    padding: 5% 7%;
  }

  .process-steps h1 {
    font-family: "Saira Condensed";
    font-size: 3rem;
    line-height: 1.1;
    letter-spacing: 0px;
    text-align: center;
    margin-top: 22%;
  }

  .process-steps h2 {
    font-size: 12px;
  }

  #first {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 58px;
    height: 58px;
    margin-top: 0;
  }

  #second {
    position: absolute;
    margin-top: 3%;
    left: 21.3%;
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 58px;
  }

  #third {
    position: absolute;
    left: 38.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 57px;
    margin-top: 17px;
  }

  #fourth {
    padding: 8px;
    position: absolute;
    margin-top: 30px;
    left: 54.1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 61px;
    height: 58px;
  }

  #fifth {
    padding: 8px;
    position: absolute;
    margin-top: 23.3%;
    left: 37%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 65px;
    height: 63px;
  }

  #six {
    padding: 8px;
    position: absolute;
    margin-top: 39%;
    left: 55.6%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 33px;
  }

  #seven {
    padding: 8px;
    position: absolute;
    margin-top: 40%;
    left: 70.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 66px;
    height: 63px;
  }

  #eight {
    padding: 8px;
    position: absolute;
    margin-top: 62%;
    left: 77.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 45px;
  }

  #nine {
    padding: 8px;
    position: absolute;
    margin-top: 76.5%;
    left: 64%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
  }

  #ten {
    padding: 8px;
    position: absolute;
    margin-top: 95.6%;
    left: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 54px;
    height: 53px;
  }

  #eleven {
    padding: 8px;
    position: absolute;
    margin-top: 101%;
    left: 52.7%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 67px;
    height: 64px;
  }

  #twelve {
    padding: 8px;
    position: absolute;
    margin-top: 93%;
    left: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 55px;
  }

  #thirteen {
    padding: 8px;
    position: absolute;
    margin-top: 91%;
    left: 10.1%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 63px;
    height: 63px;
  }
}
