@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.3;
}

:root {
  --orange-color: #f07c0f;
}

body {
  overflow-x: hidden;
  animation: transitionIn 0.5s;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@font-face {
  font-family: "calibribi";
  src: url("/fonts/calibri-bold-italic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "calibri";
  src: url("/fonts/calibri-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "calibrib";
  src: url("/fonts/calibri-bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "calibrit";
  src: url("/fonts/calibri-italic.ttf");
  font-weight: normal;
  font-style: italic;
}

.back-image {
  position: relative;
}

header {
  width: 100%;
  position: absolute;
  top: 5%;
}

#career {
  margin-left: -18px;
}

.logo img {
  width: 255px;
  height: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 55px;
  margin-top: -18px;
}

.navbar nav .main-navbar {
  display: flex;
  align-items: center;
}

.navbar nav ul li a {
  margin: 27px;
  color: #fff;
  font-size: 18px;
}

.navbar nav ul li a:hover {
  color: #fd763c;
}

#dropdown-bottm {
  position: relative;
  display: none;
}

#dropdown-bottm li {
  color: #000;
}

.dropdown:hover #dropdown-bottm {
  display: block;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  position: absolute;
  margin-top: -2px;
  width: 120px;
  margin-left: 20px;
}

#dropdown-bottm li {
  font-size: 18px;
  padding: 2px 8px;
  margin-top: 4px;
  text-align: center;
  /* color: orangered; */
}

#dropdown-bottm li:hover {
  color: orangered;
}

.back-image {
  position: relative;
}

#contact {
  border: 2px solid #f96120;
  padding: 5px 0;
}

#contact:hover {
  background-color: #fff;
  border: none;
  transition: all 0.5s ease;
}

#contact:hover #black {
  color: #000;
  transition: all 0.5s ease;
}

#contact {
  display: flex;
  align-items: center;
}

#contact svg {
  margin-right: 9px;
}

#contact svg path {
  fill: orange;
}

#header-line {
  width: 92%;
  border: 0.5px solid #fafafa;
  margin-top: 15px;
}

.header-lin {
  display: flex;
  justify-content: center;
}

.header-text h1 {
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
  margin-left: 5%;
  margin-top: 9%;
  font-family: "Saira Condensed" !important;
  line-height: 1.1;
}

.header-text h1 .word .char {
  font-family: "Saira Condensed" !important;
}

#orange {
  color: #ff6f00;
  text-transform: uppercase;
  font-family: "calibrib";
}

.header-text p {
  color: #fff;
  max-width: 50%;
  margin-left: 5%;
  margin-top: 20px;
}

.header-text button {
  margin-left: 5%;
  font-size: 21px;
  background-color: #0056b8;
  color: #fff;
  border: none;
  padding: 13px 27px;
  margin-top: 39px;
}

.header-text button:hover {
  background-color: #f07c0f;
  transition: all 0.3s ease;
}
/* 
.background-img img {
  width: 100%;
  height: 800px;
  object-fit: cover;
} */

.section-one-top {
  align-items: center;
  display: flex;
  gap: 3%;
}

.section-one-df {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 9%;
}

.section-one {
  background-color: #000;
  color: #fff;
  padding: 2% 8%;
}

.section-one-top-left {
  width: 80%;
  margin-left: 5%;
}

.section-one-top-left h1 {
  font-size: 3rem;
  font-family: "Saira Condensed";
  line-height: 1.1;
  text-transform: uppercase;
}

.section-one-top-right {
  margin-left: 5%;
}

.section-one-top-right p {
  margin-top: 19px;
}

.section-one-top-right button {
  background: none;
  border: 1px solid orange;
  font-size: 19px;
  width: 250px;
  height: 50px;
  color: #fff;
  margin-top: 30px;
  font-family: "calibrib";
  text-transform: uppercase;
}

.section-one-top-right button:hover {
  background-color: #f07c0f;
  transition: all 0.2s ease;
}

.section-top-bottom {
  margin-top: 10%;
  display: flex;
  gap: 3%;
}

.section-top-bottom img {
  width: 500px;
  height: 400px;
  object-fit: cover;
}

#section-top-bottom-one {
  margin-left: -8%;
}

#section-top-bottom-two {
  margin-left: 15%;
}

#Layer_1 {
  margin-top: -6%;
  position: relative;
}

#Layer_2 path {
  fill: #fff;
}

.section-two-top-boxes,
.section-two-bottom-boxes {
  display: flex;
  gap: 1%;
  margin-top: 10px;
  justify-content: space-evenly;
}

.section-two-top h1 {
  font-family: "Saira Condensed";
  font-size: 5rem;
  text-transform: uppercase;
  margin-left: 5%;
}

.section-two-top-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
}

.section-two-top-boxes-one-hide {
  background: #fff; /* Light orange background */
  border-radius: 12px;
  padding: 20px;
  width: 48%;
  height: 150px;
  box-shadow: 1px 2px 3px 3px rgba(255, 166, 0, 0.813);
  transition: transform 0.3s ease-in-out;
}

.section-two-top-boxes-one-hide:hover {
  transform: translateY(-5px);
  box-shadow: 0px 6px 15px rgba(255, 140, 0, 0.4);
}

.section-two-top-boxes-one-hide-top {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.section-two-top-boxes-one-hide-top svg path {
  fill: #000000;
}

.section-two-top-boxes-one-hide-top h3 {
  font-size: 20px;
  font-weight: bold;
  color: #000000; /* Darker orange for better readability */
}

.section-two-top-boxes-one-hide-bottom p {
  font-size: 16px;
  color: #000000; /* Warm brown-orange for better contrast */
  line-height: 1.5;
  margin-top: 5%;
}

.vision-mission {
  padding: 0 10%;
  background-color: #fff;
}

.vision-mission h1 {
  font-family: "Saira Condensed";
  font-size: 4rem;
  letter-spacing: -2px;
  word-spacing: 2px;
  position: relative;
}

.vision-mission h1::after {
  content: "";
  position: absolute;
  left: 32%;
  top: 45%;
  width: 250px;
  height: 20px;
  background-color: #a79b86; /* Replace with desired color */
  transform: skewX(-30deg);
}

.vision {
  margin-left: 10%;
}

.vision-mission p {
  font-size: 17px;
  word-spacing: 2px;
  line-height: 1.3;
  max-width: 90%;
  margin-top: 10px;
}

.mission {
  margin-top: 5%;
  margin-left: -10%;
}

#shop-fab,
#steel {
  margin-top: 7%;
}

#field {
  margin-top: 0;
}

#utilize {
  margin-top: -1%;
}

#pre-con {
  word-spacing: -1px;
  line-height: 1;
}

.section-two-top-boxes img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.section-two-top-boxes-one-show img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}

.section-two-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}

.section-two-bottom p {
  max-width: 55%;
  font-size: 17px;
  word-spacing: 2px;
}

.section-two-bottom button {
  width: 200px;
  height: 50px;
  font-size: 22px;
  background-color: #0056b8;
  color: #fff;
  border: none;
  margin-left: -10%;
}

.section-two-bottom button:hover {
  background-color: #f07c0f;
  transition: all 0.2s ease;
}

.section-two {
  margin-top: -20px;
  position: relative;
}

.builder-img {
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  position: fixed;
  z-index: -1;
}

.section-two-df {
  padding: 3% 14%;
}

#builder {
  width: 400px;
  height: 500px;
  opacity: 0.2;
  margin-top: 30%;
}

.section-three-bottom svg {
  width: 30px;
  height: 30px;
}

.section-three-bottom img {
  width: 100px !important;
  height: auto;
}

#apple {
  width: 40px;
  height: 40px;
}

#tesla {
  width: 130px;
}

#Google {
  width: 100px;
}

.section-three {
  background-color: #fff;
  padding: 3% 10%;
}

.section-three-bottom {
  display: flex;
  align-items: baseline;
}

.section-three-bottom-logo-one {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3%;
  gap: 137px;
  animation: logo-slider 6s infinite linear;
}

.section-three-bottom-logo-two {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
  gap: 137px;
  margin-left: 11%;
}

.section-three-df {
  overflow: hidden;
}

@keyframes logo-slider {
  from {
    margin-left: 0;
  }
  to {
    margin-left: -72%;
  }
}

.section-three-top h1 {
  font-family: "Saira Condensed";
  font-size: 4rem;
  margin-top: 4%;
}

.section-three-line {
  margin-top: 5%;
}

.section-four {
  padding: 5% 10%;
  background-color: #fff;
}

#standford {
  width: 100px;
  margin-top: 1%;
}

#standford path {
  fill: #8c1515;
}

#imposs {
  color: #f07c0f;
  font-family: "Saira Condensed";
}

.section-four-header h1 {
  font-family: "Saira Condensed";
  font-size: 4.5rem;
  letter-spacing: -2px;
  word-spacing: 2px;
}

.section-four-box-one {
  margin-top: 3%;
  display: flex;
  gap: 5%;
  align-items: center;
}

.section-four-box-one-left {
  display: flex;
  gap: 5%;
  max-width: 65%;
}

.section-four-box-one-right h1 {
  font-size: 11rem;
  color: grey;
  font-weight: normal;
  margin-left: 41%;
}

.section-four-box-one-left-text h1 {
  margin-top: 4%;
  font-size: 25px;
}

.section-four-box-one-left-text p {
  margin-top: 4%;
  font-size: 17px;
  word-spacing: 2px;
  line-height: 1.3;
}

#sc-four-line {
  margin-top: 3%;
  border: 1px solid #94bbf6;
}

.section-four-box-one-left-image img {
  width: 220px;
  height: 310px;
  object-fit: cover;
}

.section-four-box-one .section-four-box-one-left-image img {
  animation: shrink 0.5s ease forwards;
}

@keyframes expand {
  from {
    width: 220px;
  }

  to {
    width: 350px;
  }
}

@keyframes shrink {
  from {
    width: 350px;
  }

  to {
    width: 220px;
  }
}

#google2 {
  width: 100px;
  height: auto;
}

.section-four-box-one-left-text h1 {
  margin-top: 4%;
  font-size: 18px;
}

.factory-unit-heading h1 {
  font-size: 2.5rem;
}

.section-two-top-boxes {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 8px;
}

#novo {
  width: 100px;
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
  background-color: #fff;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #000000;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(54, 48, 48, 0.5);
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #000000;
  font-weight: 500;
  height: 300px;
  max-height: 100vh;
}

.section-five {
  background-color: #f3f3f3;
  padding: 4% 10%;
}

.section-five-df {
  display: flex;
  justify-content: space-evenly;
}

.section-five-right-one {
  display: flex;
  gap: 10%;
  align-items: center;
  margin-top: 8%;
}

.section-five-left h1 {
  font-family: "Saira Condensed";
  line-height: 0.8;
  font-size: 5rem;
  margin-top: 8%;
}

.section-five-left {
  max-width: 60%;
}

.factory-unit {
  padding: 5% 9%;
  background-color: #fff;
}

.factory-unit-heading h1 {
  font-family: "Saira Condensed";
  font-size: 4rem;
  letter-spacing: -2px;
  word-spacing: 2px;
}

.factory-unit-heading p {
  font-size: 19px;
}

.unit-left-part h3 {
  margin-top: 5%;
}

.unit-left-part p {
  font-size: 15px;
  margin-top: 3%;
}

.unit-right-part img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 18 / 9;
  border-radius: 8px;
}

[class^="number-slide"],
[class*=" number-slide"] {
  height: 600px !important;
}

.unit-left-part {
  max-width: 40%;
}

.keen-slider__slide {
  align-items: start;
  justify-content: space-around;
  margin-top: 5%;
  transition: all 0.3s ease-out;
}

#and {
  color: #f07c0f;
  font-family: "Saira Condensed";
}

.section-five-left-text {
  position: relative;
}

.section-five-left-text p {
  font-size: 3rem;
  margin-top: 3%;
  word-spacing: 3px;
  letter-spacing: -2px;
  max-width: 70%;
  font-size: 3rem;
  margin-top: 9%;
}

.section-five-line {
  border: 2px solid rgb(198, 198, 198);
  width: 482px;
  margin-top: 4%;
  transition: all 0.4s ease;
}

.section-five-right-one-right h4 {
  font-weight: normal;
  font-size: 14px;
}

.section-five-right-one-right h6 {
  font-size: 15px;
  font-weight: normal;
  margin-top: 1%;
}

#bold {
  font-weight: bold;
}

#turner {
  width: 87px;
}

#xl {
  width: 107px;
}

.section-five-right-one:hover + .section-five-line {
  border: 2px solid #ffaa5b;
  transition: all 0.4s ease;
}

.section-five-right-one:hover + #over-160 {
  opacity: 1;
  transition: all 0.4s ease;
}

#five-two:hover #over-160 {
  opacity: 1;
}

#five-two:hover #over-150 {
  opacity: 0;
}

.section-six {
  background-color: #fff;
  padding: 4% 14%;
}

.section-six-header {
  text-align: center;
  margin-top: 5%;
}

.section-six-header h1 {
  font-size: 5rem;
  font-family: "Saira Condensed";
}

.section-six-header p {
  font-size: 18px;
}

.section-six-content-box-1 {
  overflow: hidden;
  position: relative;
}

.section-six-content-box-1-text {
  position: absolute;
  bottom: 5%;
  color: #fff;
  padding: 10px 11px;
}

.section-six-content-box-1-text p {
  font-size: 14px;
}

.section-six-content {
  display: flex;
  gap: 1%;
  margin-top: 5%;
  margin-left: 3%;
}

.section-six-content-box-1-text h3 {
  font-size: 22px;
}

.section-six-content-box-1:hover .section-six-content-box-1-image img {
  transform: scale(1.1);
  transition: all 0.3s ease;
}

.section-six-content-box-1-image img {
  object-fit: cover;
  width: 240px;
  height: 330px;
}

footer {
  background-color: #1a1c22;
  color: #fff;
  padding-top: 4%;
  padding-bottom: 2%;
}

.footer-df {
  padding: 4% 7%;
  display: flex;
  gap: 3%;
}

.footer-left {
  max-width: 45%;
}

.footer-left-top h2 {
  font-weight: 500;
}

.footer-left-top p {
  font-size: 17px;
  margin-top: 20px;
}

#footer-line {
  width: 89%;
  margin-top: 5%;
  border: 0.3px solid #bababa;
}

.footer-left-middle {
  display: flex;
}

.footer-left-middle a {
  color: #fff;
  font-size: 20px;
}

.footer-left-middle li {
  margin-top: 15%;
}

#first {
  margin-top: 40px;
}

.footer-left-last-call-mail-1,
.footer-left-last-call-mail-2,
.footer-left-last-address-1,
.footer-left-last-address-2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 5%;
}

.footer-left-last-call-mail-1 h5,
.footer-left-last-call-mail-2 h5 {
  font-size: 15px;
  font-weight: normal;
}

.footer-left-last-call-mail-1 svg path,
.footer-left-last-call-mail-2 svg path,
.footer-left-last-address svg path {
  fill: #f07c0f;
}

.footer-left-last-call-mail-1 svg,
.footer-left-last-call-mail-2 svg,
.footer-left-last-address-1 svg {
  width: 25px;
  height: 25px;
}

.footer-left-last-address-1 h6,
.footer-left-last-address-2 h6 {
  font-size: 13px;
  font-weight: normal;
  text-transform: capitalize;
}

.footer-right-header h1 {
  font-family: "Saira Condensed";
  font-size: 4rem;
  line-height: 1;
  letter-spacing: -3px;
  word-spacing: 4px;
}

#footer-hear {
  font-family: "Saira Condensed";
  color: #f07c0f;
}

.form-top {
  margin-top: 2%;
  display: flex;
  gap: 10px;
}

.form-top input {
  width: 180px;
  height: 40px;
  background-color: #262831;
  border: none;
  border-bottom: 1px solid #f07c0f;
  font-size: 19px;
  padding: 0 0 0 10px;
  outline: none;
  color: #fff;
}

.form-middle textarea {
  margin-top: 2%;
  background-color: #262831;
  border: none;
  border-bottom: 1px solid #f07c0f;
  font-size: 19px;
  padding: 10px 0 0 10px;
  outline: none;
  color: #fff;
  width: 82%;
}

.from-bottom button {
  background-color: transparent;
  border: 1px solid #f07c0f;
  font-size: 20px;
  width: 150px;
  height: 50px;
  color: #fff;
  margin-top: 3%;
}

.from-bottom button:hover {
  background-color: #f07c0f;
  transition: all 0.3s ease;
}

.footer-left-middle-right {
  margin-left: 20%;
  margin-top: 3%;
}

.footer-left-last {
  margin-top: 10%;
}

#check:checked ~ ul {
  right: 0;
}

#check {
  display: none;
}

.checkbtn {
  display: none;
}

#for-mobile {
  display: none;
}

#cancel_btn {
  display: none;
}

#product-anchor-df {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-container .navbar nav #product-li-table {
  flex-direction: column;
  padding: 10px;
  position: absolute;
  z-index: 1000;
  top: 7%;
  left: 56%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  list-style: none;
  transition: opacity 0.5s ease;
}

#product-p:hover + #product-li-table {
  opacity: 1;
  visibility: visible;
}

.main-container .navbar nav #product-li-table li {
  margin: 5px 0;
}

.main-container .navbar nav #product-li-table li a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #333;
  font-size: 17px;
  font-weight: 500;
  border-radius: 5px;
  transition: all 0.3s ease;
  margin: 0 !important;
}

.main-container .navbar nav #product-li-table li a:hover {
  background-color: #0051a4;
  color: #fff;
  transform: translateX(5px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#product-p {
  position: relative;
}

@media screen and (max-width: 768px) {
  body {
    transition: all 0.3s ease-in;
    scroll-behavior: smooth;
  }

  input::-webkit-input-placeholder,
  .form-middle textarea {
    font-size: 14px;
  }

  #check {
    display: none;
  }

  p {
    font-size: 14px !important;
    font-family: system-ui;
  }

  .section-two-top-boxes-one-hide {
    width: 85%;
    height: 146px;
  }

  .section-two-top-boxes-one-hide-top h3 {
    font-size: 14px;
  }

  .topic-images h1 {
    text-align: center !important;
    font-size: 20px !important;
  }

  [class^="number-slide"],
  [class*=" number-slide"] {
    height: auto !important;
  }

  .main-container .navbar nav #product-li-table {
    position: static; /* Makes it appear under the parent */
    width: 91%; /* Full width */
    height: 91%;
    background-color: #ffffff;
    box-shadow: none;
    padding: 0;
    opacity: 1;
    visibility: visible;
    /* display: none; Hide by default */
  }

  .dropdown.open #product-li-table {
    display: block; /* Show when the dropdown is open */
  }

  .main-container .navbar nav #product-li-table li {
    text-align: left;
    padding: 0px;
  }

  .footer-left-last-call-mail-1 h5,
  .footer-left-last-call-mail-2 h5,
  .footer-left-last-address-1 h6,
  .footer-left-last-address-2 h6 {
    font-size: 15px;
    font-weight: normal;
    color: #c0c0c0;
  }

  .footer-left-last-call-mail-1 svg,
  .footer-left-last-call-mail-2 svg {
    width: 18px;
    height: 18px;
  }

  .footer-left-last-address-1 svg {
    width: 30px;
    height: 30px;
  }

  #for-mobile {
    display: block;
  }

  #product-anchor-df {
    display: block;
  }

  .leaflet-container.leaflet-touch.leaflet-retina.leaflet-fade-anim.leaflet-grab.leaflet-touch-drag.leaflet-touch-zoom {
    height: 60vh !important;
  }

  #for-mobile summary:first-child {
    border: 2px solid #f96120;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 0;
    padding: 7px 12px 7px 20px;
  }

  #for-mobile summary {
    padding: 7px 12px 7px 10px;
    font-size: 20px;
    margin-top: 15px;
  }

  #navigation ul {
    flex-direction: column;
    width: 70%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    right: -100%;
    top: 0;
    transition: all 0.3s ease;
    align-items: flex-start;
    overflow-y: auto;
  }

  main.main-container {
    overflow-x: hidden;
  }

  span#cancel_btn {
    width: 100%;
    display: flex;
    justify-content: end;
  }

  span#cancel_btn svg {
    width: 38px;
    height: 38px;
    margin-right: 13px;
  }

  #navigation ul li {
    margin-top: 40px;
    margin-left: 12px;
  }

  li#for-desk {
    margin-top: 20px !important;
  }

  #about-us {
    margin-top: 20px !important;
  }

  #contact {
    margin-bottom: 35px;
  }

  #navigation ul li a {
    color: #000;
    margin: 10px;
  }

  #product-anchor-df {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 9px;
  }

  .logo img {
    width: 185px;
    height: auto;
  }

  #nav-icon {
    width: 40px;
    height: 40px;
  }

  #nav-icon path {
    fill: #fff;
  }

  .navbar {
    padding: 0px 19px;
    margin-top: -25px;
    position: relative;
    z-index: 1;
  }

  .header-text h1 {
    text-transform: uppercase;
    color: #fff;
    font-size: 2.5rem;
    margin-left: 5%;
    margin-top: 21%;
    font-family: "Saira Condensed";
  }

  .header-text p {
    color: #fff;
    max-width: 90%;
    margin-left: 5%;
    margin-top: 24px;
  }

  .header-text button {
    margin-left: 5%;
    font-size: 15px;
    background-color: #0056b8;
    color: #fff;
    border: none;
    padding: 8px 18px;
    margin-top: 39px;
  }

  .background-img img {
    object-fit: cover;
    height: 500px !important;
  }

  .section-one-top {
    flex-direction: column;
  }

  .section-one-top-left h1 {
    font-size: 2.5rem;
    margin-top: 15%;
  }

  .section-one {
    background-color: #000;
    color: #fff;
    padding: 2% 8% 10% 8%;
  }

  .section-one-top-right p {
    font-size: 18px;
    margin-top: 19px;
  }

  .factory-unit-heading p {
    display: none;
  }

  .section-one-top-right button {
    background: none;
    border: 1px solid orange;
    font-size: 15px;
    width: 209px;
    height: 41px;
    color: #fff;
    margin-top: 30px;
    font-family: "calibrib";
    text-transform: uppercase;
  }

  .section-top-bottom img {
    width: 100%;
    height: 250px;
  }

  #Layer_1 {
    margin-top: -6%;
    position: relative;
    z-index: -1;
  }

  .section-two-top h1 {
    font-family: "Saira Condensed";
    font-size: 2rem;
    text-transform: uppercase;
  }

  .section-two-top-boxes {
    flex-direction: column;
    gap: 15px;
  }

  .section-two-df {
    padding: 3% 7%;
    margin-top: 10%;
  }

  .section-two-bottom-boxes {
    flex-direction: column;
    gap: 15px;
  }

  .section-two-bottom {
    flex-direction: column;
  }

  .section-two-bottom p {
    max-width: 91%;
    font-size: 17px;
    word-spacing: 2px;
    margin-top: 6%;
  }

  .section-two-bottom button {
    width: 139px;
    height: 33px;
    font-size: 15px;
    background-color: #0056b8;
    color: #fff;
    border: none;
    margin-top: 3%;
    margin-left: 0;
  }

  .section-three-top h1 {
    font-size: 2.4rem;
  }

  .vision h2,
  .mission h2 {
    font-family: math;
  }

  .section-three {
    margin-top: 10%;
    padding: 13% 5%;
  }

  .section-three-bottom {
    flex-direction: row;
  }

  .section-three-bottom-logo-one img,
  .section-three-bottom-logo-two img {
    width: 60px !important;
    height: auto;
  }

  .section-three-bottom-logo-one {
    gap: 50px;
  }

  .section-three-bottom > div {
    margin-top: 2%;
  }

  .section-four-header h1 {
    font-size: 2.3rem;
  }

  .section-four {
    padding: 15% 4% 5% 4%;
    background-color: #fff;
  }

  .section-four-box-one-left,
  .section-four-box-one {
    flex-direction: column;
    align-items: baseline;
  }

  .section-four-box-one-left {
    max-width: 100%;
  }

  .section-four-box-one .section-four-box-one-left-image img {
    animation: unset;
    width: 100%;
    height: auto;
    margin-top: 1%;
  }

  .factory-unit-heading h1 {
    font-size: 2.4rem;
  }

  .section-four-box-one-right h1 {
    font-size: 3rem;
    color: rgb(188, 186, 186);
    font-weight: normal;
    margin-left: 0;
    margin-top: 15%;
  }

  .section-five-df {
    flex-direction: column;
  }

  .section-five-left h1 {
    font-size: 2.3rem;
  }

  .section-five-left {
    max-width: 100%;
  }

  .section-five-left-text p {
    letter-spacing: 1px;
    max-width: 100%;
    font-size: 22px;
    margin-top: 6%;
    word-spacing: 0;
  }

  .section-five {
    padding: 10% 5%;
  }

  .section-five-right-one {
    flex-direction: column;
    align-items: baseline;
    margin-top: 11%;
  }

  .section-five-right-one-right h4 {
    margin-top: 5%;
  }

  .section-five-line {
    border: 2px solid rgb(198, 198, 198);
    width: 100%;
    margin-top: 4%;
    transition: all 0.4s ease;
  }

  .section-six {
    padding: 10% 5%;
  }

  .section-six-header h1 {
    font-size: 2.5rem;
  }

  .section-six-header p {
    font-size: 16px;
  }

  .section-six-content {
    flex-direction: column;
  }

  .section-six-content-box-1-image img {
    width: 100%;
    height: 260px;
    margin-top: 6%;
  }

  .footer-df {
    flex-direction: column;
    padding: 10% 5%;
  }

  .footer-left {
    max-width: 100%;
  }

  .footer-right-header h1 {
    font-family: "Saira Condensed";
    font-size: 1.8rem;
    line-height: 1;
    letter-spacing: -1px;
    word-spacing: 0px;
  }

  .footer-right {
    margin-top: 16%;
  }

  .form-top {
    flex-direction: column;
  }

  .form-top input {
    margin-top: 3%;
    width: 90%;
  }

  .form-middle textarea {
    width: 90%;
    margin-top: 6%;
  }

  .from-bottom button {
    width: 112px;
    height: 34px;
    font-size: 17px;
  }

  .footer-left-top h2 {
    font-size: 18px;
  }

  .checkbtn {
    display: block;
  }

  .section-one-top-left {
    width: 80%;
    margin-left: -25%;
  }

  .section-two-top-boxes-one-show img {
    width: 85%;
    height: 250px;
    object-fit: cover;
  }

  .section-two-top-boxes-one-background {
    position: absolute;
    width: 85%;
    height: 98%;
    background-color: #000;
    opacity: 0.2;
  }

  .section-top-bottom {
    flex-direction: column;
  }

  .section-top-bottom {
    display: block;
  }

  .vision-mission {
    padding: 0 8%;
  }

  .vision-mission h1 {
    font-size: 2.4rem;
    margin-left: -4%;
  }

  .vision-mission h1::after {
    content: "";
    position: absolute;
    left: 67%;
    top: 46%;
    width: 56px;
    height: 11px;
    background-color: #a79b86;
    transform: skewX(-30deg);
  }

  .vision-mission p {
    max-width: 100%;
  }

  .vision {
    width: 100%;
  }

  .vision,
  .mission {
    margin-top: 7%;
  }

  .main-navbar.open {
    display: flex;
  }

  .main-navbar.closed {
    display: none;
  }

  .factory-unit {
    padding: 5% 4%;
    background-color: #fff;
  }

  .main-container {
    overflow-x: hidden;
  }
}
