body {
  overflow-x: hidden;
  animation: transitionIn 0.5s;
  background-color: #f9f9ff;
}

.topic-images h1 {
  text-align: center;
  font-size: 30px;
  font-family: "Saira Condensed";
  margin-top: 3%;
}

.transformer-heading h1 {
  font-size: 4.3rem;
  line-height: 1.1;
  margin-top: 12%;
  word-spacing: 7px;
  color: #fff;
  text-transform: uppercase;
  margin-left: 5%;
  font-family: "Saira Condensed";
}

.transformer-heading p {
  font-size: 22px;
  max-width: 45%;
  margin-top: 2%;
  color: #fff;
  margin-left: 5%;
}

#dropdown-bottm {
  position: relative;
  display: none;
}

#dropdown-bottm li {
  color: #000;
}

.dropdown:hover #dropdown-bottm {
  display: block;
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  position: absolute;
  margin-top: -2px;
  width: 120px;
  margin-left: 20px;
}

#dropdown-bottm li {
  font-size: 18px;
  padding: 2px 8px;
  margin-top: 4px;
  text-align: center;
  /* color: orangered; */
}

#dropdown-bottm li:hover {
  color: orangered;
}

@keyframes transitionIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#product-background-color {
  opacity: 0.7;
}

#product-banner-heading {
  font-size: 4.3rem;
  line-height: 1.1;
  margin-top: 12%;
  word-spacing: 7px;
}
#trans-header #product-banner-text {
  font-size: 22px;
  max-width: 45%;
  margin-top: 2%;
}

#product-banner {
  height: 650px;
}

#product-svg {
  margin-top: -2%;
  right: 0;
  width: 650px;
  position: absolute;
  z-index: 1;
}

#product-svg path {
  fill: #fff;
}

#for-mobile {
  display: none;
}

#product-li-table {
  top: 9% !important;
}

.blue-border {
  border: 1px solid;
  border-color: #0051ae;
  padding: 2%;
  border-radius: 18px;
}

.topic-headng {
  padding: 3% 8%;
}

.topic-headng h1 {
  font-family: "Saira Condensed";
  font-size: 4rem;
  margin-left: 40%;
  position: relative;
}

.topic-headng h1::after {
  position: absolute;
}

.topic-headng p {
  font-size: 17px;
  word-spacing: 2px;
  line-height: 1.3;
  margin-top: 17px;
  margin-left: -5%;
  max-width: 95%;
}

.img-box {
  padding: 13px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.img-box span img {
  width: 500px;
  height: auto;
  margin-top: 5%;
}

.img-box span h3 {
  text-align: center;
  background-color: #a9a393;
  color: #fff;
  width: 400px;
  font-weight: normal;
  padding: 5px 10px;
}

.img-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.row-one,
.row-two,
.row-three,
.row-four,
.row-five {
  display: flex;
  gap: 10%;
  padding: 0 7%;
  align-items: center;
}

.row-left,
.row-right {
  flex: 1 1 50%;
}

.row-left p {
  font-size: 17px;
  word-spacing: 2px;
  line-height: 1.3;
  margin-top: 25px;
}

.row-left h2 {
  margin-top: 12%;
  position: relative;
}

.row-left h2::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  background-color: #f96120;
  width: 200px;
  height: 5px;
  border-radius: 50%;
  transform: scaleY(1.5);
}

.rotate {
  flex-direction: row-reverse;
}

.row-five {
  padding-bottom: 5%;
}

#lighbox {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: #000;
}

.topic-images {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.img-box {
  cursor: pointer;
}

.image-popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.image-popup.visible {
  opacity: 1;
  transform: scale(1);
}

.popup-content {
  position: relative;
  width: 80%;
  height: 80%;
  transition: all 0.3s ease;
  border: 10px solid #a9a393;
}

.row-left ul {
  margin-top: 10px;
}

.row-left ul li {
  list-style: disc;
  margin-top: 5px;
}

.row-left p:last-of-type {
  padding-bottom: 5%;
}

.gutter-img {
  display: flex;
  justify-content: center;
  gap: 9%;
}

.gutter-img img {
  width: 550px;
  height: auto;
  border: 1px solid #d6d7db;
  border-radius: 8px;
}

.row-right:first-of-type {
  margin-top: 25%;
}

.row-right:last-of-type {
  margin-top: 5%;
}

.blue-border li {
  margin-left: 15px;
  margin-top: 15px;
}

.mezzanine-img {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 5% 0;
}

.mezzanine-img img {
  width: 330px !important;
}

.mezzanine-img h3 {
  width: 200px !important;
}

@media screen and (max-width: 768px) {
  .transformer-heading h1 {
    font-size: 3rem;
    margin-top: 38%;
  }

  .mezzanine-img {
    flex-direction: column;
  }

  .row-one,
  .row-two,
  .row-three,
  .row-four,
  .row-five {
    flex-direction: column !important;
  }

  .img-box span img {
    width: 300px;
  }

  .img-box span h3 {
    width: fit-content;
  }

  .img-box {
    margin-top: 8% !important;
  }

  #product-svg {
    margin-top: -11%;
  }

  #product-svg path {
    fill: #f9f9ff;
  }

  .topic-headng h1 {
    font-size: 2.5rem;
  }

  .topic-headng {
    padding: 3% 6%;
    margin-top: 5%;
  }

  .logo img {
    width: 200px;
    height: auto;
  }

  footer {
    margin-top: 20%;
  }
}
